.LabelContainer{
    background-color: $main-label-bg-color;
    color: $main-label-text-color;
    font-weight: bold;
    border-radius: 20px;
    width: 12vw;
    padding: 1vh 0;
    text-align: center;
}